<div mat-dialog-content class="Formulario">
    <h2 mat-dialog-title>{{data ? 'Actualizar Categoria': 'Nueva Categoria'}}</h2>
    <form class="container" [formGroup]="categoryForm">
        <div class="form-row">
            <div class="form-column">
                <!--CAMPO NAMES-->
                <mat-form-field appearance="outline" class="example-form-field">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre Categoria" formControlName="name" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="form['name'].hasError('required')">Este campo es requerido</mat-error>
                    <mat-error *ngIf="form['name'].hasError('nameExists')">
                        El nombre ya existe
                    </mat-error>
                    <mat-error *ngIf="form['name'].hasError('firstLetterNotCapital')">
                        El nombre debe comenzar con mayúscula
                    </mat-error>
                </mat-form-field>
                <!--CAMPO DESCRIPTION-->
                <mat-form-field appearance="outline" class="example-form-field">
                    <mat-label>Descripcion</mat-label>
                    <textarea matInput placeholder="Descripcion" formControlName="description"
                        [errorStateMatcher]="matcher"></textarea>
                    <mat-error *ngIf="form['description'].hasError('required')">Este campo es requerido</mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
    <mat-dialog-actions>
        <button mat-raised-button cdkFocusInitial color="primary" (click)="saveCategory()">
            {{data ? 'Actualizar': 'Registrar'}}
        </button>
        <button mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
    </mat-dialog-actions>
</div>