.Formulario {
    width: '700px';
    margin: 20px 20px 10px 20px;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-column {
    flex: 1;
    padding: 0 10px;
    /* Ajusta el espaciado entre columnas según sea necesario */
}

/* Ajusta el estilo de los campos de formulario según sea necesario */
.example-form-field {
    width: 100%;
    margin-top: 10px;
}