<div mat-dialog-content class="Formulario">
    <h2 mat-dialog-title>Cambiar Contraseña</h2>
    <form class="container" [formGroup]="sellerForm">
        <div class="form-row">
            <!--ANTIGUA CONTRASEÑA-->
            <mat-form-field appearance="outline" class="example-form-field">
                <mat-label>Antigua Contraseña</mat-label>
                <input matInput placeholder="password" formControlName="oldPassword" [errorStateMatcher]="matcher">
                <mat-error *ngIf="form['oldPassword'].hasError('required')">Este campo es requerido</mat-error>
                <mat-error *ngIf="form['oldPassword'].hasError('incorrectPassword') && !form['oldPassword'].hasError('required')">La contraseña antigua es
                    incorrecta</mat-error>
            </mat-form-field>
            <!--NUEVA CONTRASEÑA-->
            <mat-form-field appearance="outline" class="example-form-field">
                <mat-label>Nueva Contraseña</mat-label>
                <input matInput placeholder="newPassword" formControlName="newPassword" [errorStateMatcher]="matcher">
                <mat-error *ngIf="form['newPassword'].hasError('required')">Este campo es requerido</mat-error>
            </mat-form-field>
            <!--CONFIRMAR CONTRASEÑA-->
            <mat-form-field appearance="outline" class="example-form-field">
                <mat-label>Confirmar Contraseña</mat-label>
                <input matInput placeholder="confirmPassword" formControlName="confirmPassword"
                    [errorStateMatcher]="matcher">
                <mat-error *ngIf="form['confirmPassword'].hasError('required')">Este campo es requerido</mat-error>
                <mat-error *ngIf="form['confirmPassword'].hasError('passwordsNotMatch') && !form['confirmPassword'].hasError('required')">Las contraseñas no
                    coinciden</mat-error>
            </mat-form-field>
        </div>
    </form>
    <mat-dialog-actions>
        <button mat-raised-button cdkFocusInitial color="primary" (click)="saveSeller()">Actualizar Contraseña</button>
        <button mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
    </mat-dialog-actions>
</div>